/* Untuk Tablet */

@media screen and (max-width: 900px) {
    .tim-history ul li div {
        width: 250px;
        left: -300px;
    }
    .tim-history ul li:nth-child(even) div {
        left: 60px;
    }
    .tim-history h2 {
        font-weight: normal;
        font-size: 14px;
        opacity: 0.8;
        letter-spacing: 3px;
        padding-bottom: 20px;
    }
    .tim-history time {
        font-weight: bold;
        letter-spacing: 7px;
        font-size: 16px;
    }
    .tim-history p {
        line-height: 30px;
        text-align: left;
        font-size: 12px;
    }
    .isi-timvalue {
        font-size: 20px;
    }
    .tim-icon img {
        height: 150px;
        width: 80px;
    }
    .txt-content {
        font-size: 14px;
        margin-top: 10px;
        text-align: center;
        padding-bottom: 100px;
    }
    .search {
        margin-left: 0;
    }
}


/* Untuk Smartphone */

@media screen and (max-width: 625px) {
    h1 {
        font-size: 18px;
    }
    .dropdown-child {
        display: none;
    }
    #tombol-menu {
        background-color: #ffe364;
        border: none;
        font-size: 32px;
    }
    .menu-responsive {
        display: inline;
    }
    .menu-responsive a {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 0;
    }
    
    .menu-responsive a:hover {
        border: 0;
    }
    
    .menu-responsive li {
        position: relative;
        list-style: none;
    }
    .menu-responsive li li {
        display: inline-block;
        padding-right: 12px;
        width: 110px;
        background: transparent none;
    }
    .menu-responsive li li a {
        text-align: right;
        color: black;
    }
    .menu-responsive li li:hover {
        background:  #a24ae5;
    }
    .menu-responsive ul {
        position: absolute;
        top: 3em;
        right: 0;
        max-height: 0em;
        margin: 0;
        padding: 0;
        background: #ffe364;
        overflow: hidden;
        transition: 0.4s ease-in-out;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .menu-responsive li:hover ul {
        max-height: 20em;
    }
    .tim-history h2 {
        font-weight: normal;
        font-size: 11px;
        opacity: 0.8;
        letter-spacing: 1px;
    }
    .tim-history ul li::after {
        left: 0;
        right: auto;
        top: calc(65% - 5px);
    }
    .tim-history ul li {
        margin-left: 20px;
    }
    .tim-history ul li div {
        width: calc(80vw - 91px);
    }
    .tim-history ul li:nth-child(odd) div {
        left: 55px;
    }
    .tim-history ul li:nth-child(even) div {
        left: 55px;
    }
    .tim-history ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 11px 16px 11px 0;
        border-color: transparent #f4d05b transparent transparent;
    }
    .isi-timvalue {
        font-size: 14px;
    }
    .tim-content {
        margin-left: 50px;
        padding-top: 20px;
        padding-left: 0px;
    }
    .tim-icon {
        text-align: center;
    }
    .txt-content {
        text-align: center;
        font-size: 12px;
    }
    .tim-icon img {
        height: 125px;
        width: 60px;
    }
    .search {
        margin-left: 0;
    }
    .daftar-input {
        max-width: 300px;
    }
}
